/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:  rgba(27, 24, 24, 0.705);
    color: #222;
}

/* HEADER */
header {
    background: black;
    color: white;
    padding: 25px;
    text-align: center;
}

header h1 {
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border: 2px solid white;
    border-radius: 5px;
}

nav a:hover {
    background: white;
    color: black;
}

/* CONTENT */
.content {
    background: white;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.content h2 {
    font-size: 30px;
    text-align: center;
    font-family: serif;
    margin-bottom: 15px;
}

.content h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: 20px;
    font-size: 20px;
}

.content p {
    margin-bottom: 15px;
    color: #444;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}