/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:  rgba(27, 24, 24, 0.705);
    color: #222;
}

/* HEADER */
header {
    background: #000;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

nav a:hover {
    background: white;
    color: black;
}

/* GALERIE */
.gallery-container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

/* Grille responsive */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Images */
.gallery img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #ddd;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Zoom au survol */
.gallery img:hover {
    transform: scale(1.1);
    transform-origin: 40%;
    border-color: black;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}