/* Style en général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}

/* header */
header {
    background-color: black;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #D40000;
}

header h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
}

header h1 span {
    color: #D40000;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #D40000;
    border-radius: 5px;
}

/* Section d'accueil */
.accueil {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(black, #222);
}

.accueil h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #D40000;
}

.accueil p {
    font-size: 1.2em;
    color: #ccc;
}

/* Section des goattt */
.goats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #111;
}

.athlete {
    background-color: #222;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    border: 2px solid #333;
}

.athlete:hover {
    border-color: #D40000;
    transform: translateY(-5px);
}

.athlete img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.athlete h3 {
    color: #D40000;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.athlete p {
    color: #ccc;
}

/* footer  */
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
    color: #666;
}